@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


*{
  font-family: "Space Grotesk", sans-serif;
  
}

.Doto{
  font-family: "Doto", sans-serif;
}

@keyframes spin-once {

  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 0;
  }

  60% {
    transform: rotate(380deg) scale(1.08);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }

}

.animate-spin-once {
  animation: spin-once 900ms cubic-bezier(0.22, 1, 0.36, 1);
}

button {
  cursor: url("/hand.cur"), pointer;
}

.custom-header{
  background-color: #FDFDFB;
  border-bottom: 1px solid #c4c4c4;
}